body {
	background-color: black;
	color: #5f6d78;
}

#main {
	width: 90%;
	margin:auto;
	font-family: Merriweather;
}

#img-div {
	width: 75%;
	margin: auto;
}

img {
	display: block;
	max-width: 100%;
}

#title {
	text-align: center;
	font-family: sans-serif;
}

#img-caption {
	text-align: right;
	font-size: 12px;
}

#timeline {
	width:60%;
	margin:auto;
}

p, li {
	line-height:1.755em;
}

li {margin:1em;}

strong, em {
	color:#ffbb5d;
}

@media (max-width:800px){
	#img-div{width:100%;}
}
